@{ViewBag.Title = "Home Page";}

<h1>@ViewBag.Message</h1>

<h2>You can do the following:</h2>
<ol class="round">
    <li class="one">
        <h3>Manage Person records</h3>
        Choose the People tab above 
    </li>

    <li class="two">
        <h3>Manage Vehicle records</h3>
        Choose the Vehicles tab above
    </li>
</ol>
<ul> 
    <li>This site has been visited @ViewBag.NumTimes times</li>
    <li>@ViewBag.LastPersonQuery</li>
    <li>@ViewBag.LastVehicleQuery</li>
</ul>
