@{
    ViewBag.Title = "NoRecordFoundError";
}

<h2>NoRecordFoundError</h2>

<hgroup class="title">
    <h1 class="error">No Record Found</h1>
    <h2 class="error">You requested a record that does not exist.</h2>
</hgroup>