@{
    ViewBag.Title = "NotAuthorized";
}

<h2>Not Authorized!</h2>

<hgroup class="title">
    <h1 class="error">You are not authorized to perform this action.</h1>
    <h2 class="error">NOPE.</h2>
</hgroup>
